body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.screen {
    background-color: white;
    padding: 8px;
    width: 500px;
}

p {
    font-size: 32px;
    text-align: left;
}

button {
    width: 60px;
    font-size: 16px;
    padding: 16px;
    margin: 8px;
    text-align: center;
    border-color: white;
}

